apiVersion: v1
kind: Service
metadata:
  name: public-service  # اسم جدید برای سرویس عمومی
spec:
  type: NodePort        # این خط کلید ماجراست
  selector:
    app: node-app       # وصلش می‌کنیم به همون پادهای نود جی‌اس
  ports:
    - port: 80          # پورت سرویس (داخل کلاستر)
      targetPort: 3000  # پورت کانتینر (نود جی‌اس)
      nodePort: 30007   # پورتی که روی لپ‌تاپ باز میشه (باید بین ۳۰۰۰۰ تا ۳۲۷۶۷ باشه)
